extends layout

block content
	h2 Create a Poll
	form(action="/polls" method="POST")
		fieldset.form-group
			label Poll Title
			input.form-control(type="text" name="name")
		fieldset.form-group
			label Poll Terms
		fieldset.term-set
			.form-group
				.input-group
					input.form-control(type="text" name="terms[]")
					.input-group-btn
						button.btn.btn-danger.del-term(type="button" title="Delete option") X
		fieldset.form-group
			button.btn.btn-primary.pull-right.new-term(title="Add a new poll option") +
		fieldset.form-group
			input.btn.btn-block.btn-success(type="submit")
