extends layout

block content
	h2 Create a Poll
	form(action="/polls" method="POST")
		fieldset.form-group
			label Poll Title
			input.form-control(type="text" name="name")
		fieldset.form-group
			label Poll Terms
			input.form-control(type="text" name="term1" placeholder="Term 1")
		fieldset.form-group
			input.form-control(type="text" name="term2" placeholder="Term 2")
		fieldset.form-group
			input.form-control(type="text" name="term3" placeholder="Term 3")
		fieldset.form-group
			input.form-control(type="text" name="term4" placeholder="Term 4")
		fieldset.form-group
			input.form-control(type="text" name="term5" placeholder="Term 5")
		fieldset.form-group
			input.btn.btn-block.btn-success(type="submit")
